<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.supawinee.smartlightforsmarthome">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />

        <receiver android:name=".AlarmReceiver" />

        <service
            android:name=".RingtonePlayService"
            android:enabled="true" />

        <activity android:name=".NormalPage" />
        <activity android:name=".AlarmMenu" />
        <activity
            android:name=".CountdownPage"
            android:launchMode="singleInstance" />
        <activity android:name=".ColorTheme" />
        <activity android:name=".AlarmclockPage" />
        <activity android:name=".MotionPage" />
        <activity android:name=".MusicPage" />
        <activity android:name=".Open">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SettingPage"></activity>
    </application>

</manifest>